name: CI

on:
  push:
  pull_request:

jobs:
  build-win32:
    name: "Windows Build"
    runs-on: windows-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install PIP Modules
      run: python -m pip install -r requirements.txt

    - name: Build Project (Dynamic build)
      run: pyinstaller --onefile .\main.py --add-data "assets/*;assets/" --name="Mario Party Toolkit" -w --icon="assets/icons/diceBlock.ico"

    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        name: MarioPartyToolkit-win32
        path: D:\a\Mario-Party-Toolkit\Mario-Party-Toolkit\dist
